<style type="text/css">
    body {
        background: #ffffff;
        color: #000000;
        font-family: "Neutral Regular 3", "NeutralBP", "Neutral BP", Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        padding: 0px;
    }
    
    .sketchbooks {
        display: grid;
        grid-template-columns: repeat(60, 125px);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .sketchbook-header {
        height: 175px;
        max-width: 125px;
        word-wrap: break-word;
    }

    #loader {
        text-align: center;
        width: 100%;
        display: none;
        z-index: 100000;
        background: white;
    }
    
    #loader .message {
        font-size: 1.4em;
    }

    .color-panel {
        text-align: left;
        top: 0px;
        right: 0px;
        background: #ffffff;
        opacity: 0.95;
        clear: both;
    }

    .color-panel .color-swatch {
        float: left;
        width: 10px;
        height: 10px;
    }	

    .page-details {
        background-color: #ffffff;
        position: absolute;
        width:250px;
        top: 0px;
        left: 0px;
    }	
</style>


<div class="container-fluid p-4">
    <div id="loader">
        <p class="message">Fetching some beautiful sketchbooks just for you...</p>
        <img src="/images/ajax-loader.gif">
    </div>
    <div class="sketchbooks"></div>
    <div class="page-details">
        <img id="page-image">
        <p id="page-title"></p>
    </div>
</div>
<footer class="page-footer grey darken-1 font-small p-3">
	<div class="container-responsive text-left">
			Made with the <a href="https://hvrd.art/api">Harvard Art Museums API</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://mdbootstrap.com/">Material Design for Bootstrap</a>, <a href="https://d3js.org/">D3</a>
	</div>	
</footer>


<!-- // The main view, with image display and information panel -->
<script id="sketchbook-set-template" type="text/template">
    <div class="sketchbook" data-object-id="\{{id}}" id="">
        <div class="sketchbook-header">
            <a href="\{{url}}" target="_blank">\{{objectnumber}}</a><br/>
            \{{title}}</br>
            \{{dated}}
        </div>
        \{{#pages}}
            <div class="color-panel" data-image-url="\{{imageURLMedium primaryimageurl}}" data-title="\{{title}}">						
                \{{#colors}}
                    {{!-- <div class="color-swatch" style="background:\{{color}};width:\{{colorPercentToWidth percent}}px" title="\{{color}}, \{{hue}}, \{{percent}}"></div> --}}
                    <div class="color-swatch" style="background:\{{color}};width:\{{colorPercentToWidth percent}}px" title=""></div>
                \{{/colors}}
            </div>
        \{{/pages}}
    </div>
</script>	

<script src="../data/data.js"></script>
<script>
    let sketchbooks = [];

    document.addEventListener("DOMContentLoaded", function() {
        var imageURLParamsL = '?width=50&height=50';
        var imageURLParamsM = '?height=150';

        Handlebars.registerHelper('imageURL', function(image) {
            if (image) {
                return image + imageURLParamsL;
            } else {
                return "img/no_image.png";
            }
        });

        Handlebars.registerHelper('imageURLMedium', function(image) {
            if (image) {
                return image + imageURLParamsM;
            } else {
                return "img/no_image_thumb.png";
            }
        });

        Handlebars.registerHelper('colorPercentToWidth', function(amount) {
            return Math.ceil(amount * 100);
        });

        $('#loader').show();

        piene.objects.forEach(o => {
            getObjects(o);
        });

        $('.sketchbooks').show();
        $('#loader').hide();
    });

    // Gets a set of twenty-five sketchbook objects, based on 
    // the given field/value search, and updates the 
    // explorer accordingly
    async function getObjects(o) {
        let urlSketchbook = `/data/objects?objectnumber=${o.ObjectNumber}&person=28069&size=1`; 
        const data = await fetch(urlSketchbook).then(response => response.json());
        let sketchbook = data.records[0];

        if (o.HasChildren == 0) {
            urlPages = `/data/images?q=id:(>=${o.ImageIDMin}%20AND%20<=${o.ImageIDMax})&size=100&sort=id&sortorder=asc`; 
        } else {
            urlPages = `/data/objects?objectnumber=${o.ObjectNumber}.*&fields=primaryimageurl,objectnumber,date,title,colors&size=100&sort=id&sortorder=asc`; 
        }

        let results = await fetch(urlPages).then(response => response.json());
        results.records.forEach(r => {
            let c = _.sortBy(r.colors, ['percent']);
            r.colors = c;
            if (!_.has(r, 'title')) {
                r.title = sketchbook.title;
                r.primaryimageurl = r.baseimageurl;
            }
        });
        let pages = results.records;

        while (results.info.next) {
            results = await fetch(results.info.next).then(response => response.json());
            results.records.forEach(r => {
                let c = _.sortBy(r.colors, ['percent']);
                r.colors = c;
                if (!_.has(r, 'title')) {
                    r.title = sketchbook.title;
                    r.primaryimageurl = r.baseimageurl;
                }                
            });
            pages = _.concat(pages, results.records);
        }

        sketchbook.pages = pages;

        sketchbooks.push(sketchbook);

        var source = $('#sketchbook-set-template').html();
        var template = Handlebars.compile(source);
        var info = template(sketchbook);
        $('.sketchbooks').append(info);

        $('.color-panel').on('mouseover', event => {
            $(".page-details")
                .css('top', $(event.currentTarget).offset().top)
                .css('left', $(event.currentTarget).offset().left + 200)
                .show();

            $("#page-title").html($(event.currentTarget).data('title'));
            $("#page-image").attr('src', $(event.currentTarget).data('image-url'));
        });     

        $('.color-panel').on('mouseout', event => {
            $("#page-image").attr('src', '');
            $(".page-details").hide();
        });             
    }

    function getrUrlVar(key) {
        var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
        return result && unescape(result[1]) || "";
    }					
</script>