<header class="jumbotron grey lighten-4">
    <h1>People Explorer</h1>
    <p class="lead">Search for names in the Harvard Art Museums collections</p>
</header>

<div class="container-fluid p-4">

    <h2><u>{{person.displayname}}</u></h2>
 
    <div class="pb-4">
        {{#person.names}}
            {{type}}: {{displayname}}</br>
        {{/person.names}}
    </div>

    <div class="pb-4">
        {{#if person.culture}}
            Culture: {{person.culture}}</br>
        {{/if}}

        {{#if person.displaydate}}
            Dates: {{person.displaydate}}</br>
        {{/if}}

        {{#if person.birthplace}}
            Born: {{person.birthplace}}</br>
        {{/if}}

        {{#if person.deathplace}}
            Died: {{person.deathplace}}</br>
        {{/if}}        
    </div>

    <h3>Identifiers</h3>
    <div class="pb-4">
        VIAF: <a href="http://viaf.org/viaf/{{person.viaf_id}}">{{person.viaf_id}}</a><br>
        ULAN: <a href="http://vocab.getty.edu/ulan/{{person.ulan_id}}">{{person.ulan_id}}</a><br>
        Wikipedia: <a href="https://en.wikipedia.org/?curid={{person.wikipedia_id}}">{{person.wikipedia_id}}</a><br>
        Wikidata: <a href="https://www.wikidata.org/wiki/{{person.wikidata_id}}">{{person.wikidata_id}}</a><br>
        LCNAF: <a href="https://id.loc.gov/authorities/names/{{person.lcnaf_id}}">{{person.lcnaf_id}}</a><br>
        HAM ID: <a href="{{person.url}}">{{person.id}}</a>
    </div>

    <h3>Roles</h3>
    <div class="pb-4">
        {{#if person.roles}}
            <ul>
            {{#person.roles}}
                <li>{{role}}, {{context}}, {{frequency}}</li>
            {{/person.roles}}
            </ul>
        {{/if}}
    </div>

    <h3>Exhibitions</h3>
    <div class="pb-4">
        <p>{{person.exhibitioncount}} exhibitions are associated with {{person.displayname}}.</p>

        {{#if person.exhibitions}}
            <p>Here's a sample of the latest exhibitions.</p>
            <ol>
            {{#person.exhibitions}}
                <li><a href="{{url}}">{{title}}</a>, {{begindate}} - {{enddate}}</li>
            {{/person.exhibitions}}
            </ol>
        {{/if}}
    </div>

    <h3>Publications</h3>
    <div class="pb-4">
        <p>{{person.publicationcount}} publications are associated with {{person.displayname}}.</p>

        {{#if person.publications}}
            <p>Here's a sample of the latest publications.</p>
            <ol>
            {{#person.publications}}
                <li>{{{citation}}}</li>
            {{/person.publications}}
            </ol>
        {{/if}}
    </div>

    <h3>Objects</h3>
    <div class="pb-4">
        <p>{{person.objectcount}} objects are associated with {{person.displayname}}. They are viewable on <a href="{{person.url}}">Harvard Art Museums website</a>.</p>

        {{#if person.objects}}
            <p>Here's a sample.</p>
            {{#person.objects}}
                <a href="{{url}}"><img class="img-thumbnail float-start" src="{{images.[0].iiifbaseuri}}/full/,150/0/default.jpg"></a>
            {{/person.objects}}
        {{/if}}
    </div>
</div>
